@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #04152d;
  color: white;
}
/* CircleRating.css */
.circleRating .CircularProgressbar-text {
  font-size: 34px;
  font-weight: 700;
  fill: black;
}

.circleRating .CircularProgressbar-trail {
  stroke: transparent;
}

/* lazy load */
.posterBlock span {
  width: 100%;
  height: 100%;
}
.lazy-load-image-background {
  width: 100%;
  height: 100%;
}


/* Hide the scrollbar but keep the functionality */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For Webkit browsers like Chrome and Safari */
body::-webkit-scrollbar {
  width: 12px; /* Adjust as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
