@tailwind base;
@tailwind components;
@tailwind utilities;

/* CircleRating.css */
.circleRating .CircularProgressbar-text {
  font-size: 34px;
  font-weight: 700;
  fill: black;
}

.circleRating .CircularProgressbar-trail {
  stroke: transparent;
}

/* lazy load */
.posterBlock span {
  width: 100%;
  height: 100%;
}
.lazy-load-image-background {
  width: 100%;
  height: 100%;
}
